@model IN_TEGRA.Models.Produto

@{
    Layout = "Layout_painel_funcionario";
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>Detalhes do Produto</h1>
<div class="container__produto" style="background: #DADDF5; display: flex; justify-content: center; border-radius: 20px;">
    <div style="background: #5A5F8B; padding: 50px; border-radius: 20px; color: white;">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdProd)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdProd)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NomeProduto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NomeProduto)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PrecoProduto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PrecoProduto)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DescricaoProduto)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.QuantidadeProduto)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImagemProduto)
            </dt>
            <dd class = "col-sm-10">
                <img src="/@Model.ImagemProduto" style="max-width: 70px; max-height: 70px;" />
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CategoriaProduto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CategoriaProduto)
            </dd>
        </dl>
        <div>
            <a asp-controller="Produto" asp-action="ListaProdutos" style=" background:#FF0054; padding: 10px; outline: none; border: 0px transparent; color: white; border-radius: 20px;">Voltar</a>
        </div>
    </div>
</div>
