@model IN_TEGRA.Models.Produto

@{
    Layout = "Layout_painel_funcionario";
    ViewData["Title"] = "Detalhes do Produto";
}


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">

    <style>
        .config-container {
            background-color: #FFFFFF;
            border-radius: 20px;
            padding: 40px;
            color: black;
            font-family: 'ABeeZee', sans-serif;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
        }


        .image-preview-area {
            background-color: #EAEAEA;
            border-radius: 15px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999;
            grid-column: 1 / 2;
        }

        .small-images-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
        }

        .small-image-box {
            background-color: #EAEAEA;
            border-radius: 10px;
            height: 100px;
        }


        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
        }


        .custom-input {
            width: 100%;
            padding: 10px 15px;
            border-radius: 20px;
            border: none;
            background-color: #EAEAEA;
            color: #333;
        }


        .btn-confirmar {
            background-color: #04128D;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            width: 100%;
            max-width: 130px;
        }

        .btn-voltar {
            background-color: #FF0054;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            width: 130px;
            height: 44px;
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
        }


        .area-nome {
            grid-column: 1 / 2;
        }

        .area-preco {
            grid-column: 2 / 3;
        }

        .area-descricao {
            grid-column: 1 / 3;
        }

        .area-categoria {
            grid-column: 1 / 2;
        }

        .area-extra {
            grid-column: 2 / 3;
            display: flex;
            justify-content: center;
            gap: 10px;
            border-radius: 15px;
            height: auto;
            align-content: center;
            align-items: center;
        }
    </style>
</head>

<div style="padding: 20px;">
    <div class="config-container">
        <h2 style="color: black; grid-column: 1 / 3; grid-row: 1; ">CONFIGURAÇÃO DO PRODUTO</h2>

        <div class="image-preview-area">
            <img src="@Model.ImagemProduto" style="width: 100%; display: block; height: 100%; object-fit: contain"/>
        </div>

        <div class="small-images-grid">
            <div style="grid-column: 1/3; margin-bottom: 5px;">Outras Imagens</div>
            <div class="small-image-box"></div>
            <div class="small-image-box"></div>
            <div class="small-image-box"></div>
            <div class="small-image-box"></div>
        </div>

        <div class="form-group area-nome">
            <label asp-for="NomeProduto">Nome:</label>
            @Html.DisplayFor(model => model.NomeProduto)

        </div>

        <div class="form-group area-preco">
            <label>Código:</label>
            @Html.DisplayFor(model => model.IdProd)
        </div>

        <div class="form-group area-descricao">
            <label asp-for="DescricaoProduto">Descrição:</label>
            @Html.DisplayFor(model => model.DescricaoProduto)
        </div>

        <div style="display: flex; gap: 20px; grid-column: 1 / 3;">
            <div class="form-group" style="flex:1;">
                <label asp-for="PrecoProduto">Preço:</label>
                @Html.DisplayFor(model => model.PrecoProduto)
            </div>

            <div class="form-group" style="flex:1;">
                <label asp-for="CategoriaProduto">Categoria</label>
                @Html.DisplayFor(model => model.CategoriaProduto)
            </div>
        </div>
        <div style="display: flex; gap: 20px; grid-column: 1 / 3;">
            <div class="form-group" style="flex:1;">
                <label asp-for="QuantidadeProduto">Quantidade:</label>
                @Html.DisplayFor(model => model.QuantidadeProduto) Unidades
            </div>
            <div class="area-extra" style="flex:1;">
                <a asp-action="ListaProdutos" class="btn-voltar">VOLTAR</a>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}