@model IEnumerable<IN_TEGRA.Models.Cliente>

@{
    Layout = "Layout_painel_funcionario";
    ViewData["Title"] = "Clientes";
}
<body>
    <div class="container" style="background: #DADDF5; padding: 50px;">
        <div style="display: flex;">
            <h1>Cadastro dos Clientes</h1>
        </div>
        @foreach(var cliente in Model)
        {
        <div style="background: #5A5F8B; border-radius: 20px; display: flex; justify-content: space-between; padding: 20px; color: white; margin-bottom: 15px;">
            <p>@cliente.IdCli</p>
            <p>@cliente.NomeCliente</p>
            <p>@cliente.EmailCliente</p>
            <div class="utilitarios" style="color: white; text-decoration: none;">
                    @Html.ActionLink("Atualizar", "AtualizarCliente", new { IdCli = cliente.IdCli }) 
                    @Html.ActionLink("Detalhes", "DetalhesCliente", new { IdCli = cliente.IdCli }) 
                    @Html.ActionLink("Excluir", "ExcluirCliente", new { IdCli = cliente.IdCli })
            </div>
        </div>
        }
    </div>
</body>