@model IN_TEGRA.Models.Pedido


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var msg = "";
    @if (@Model.ConfirmacaoPedido == true)
    {
        msg = "Confirmado";
    }
    else
    {
        msg = "Não Confirmado";
    }
}
<body style="font-family:'ABeeZee',sans-serif;">
    <h1 style="margin: 20px;">COMPRA:</h1>
    <div class="container" style="background: #04128D; width: 100%; height: 100%; padding: 50px; border-radius: 20px; color: white;">
        <h1>Informações:</h1>
        <div class="pedido" style="background: #5A5F8B; padding: 50px; border-radius: 20px; color: white; margin-bottom: 40px;">

            <h1>Codigo do Pedido: @Model.IdPedido</h1>
            <h1>Data do pedido: @Model.DataHoraPedido</h1>
            <h1>Valor: R$@Model.ValorPedido</h1>
            <h1>Frete: R$@Model.FretePedido</h1>
            <h1>Status Pedido: @msg </h1>


        </div>
        <h1>Produtos no Pedido:</h1>
        <div class="produtos" style="background: #5A5F8B; padding: 50px; border-radius: 20px;">

            @foreach (var item in (List<ItemPedido>)ViewBag.itens)
            {
                <div style="background: white; padding: 20px; border-radius: 20px; display: flex; justify-content: space-between; gap: 30px; margin-bottom: 15px; color: black;">
                    <h3>Codigo: @item.IdProduto</h3>
                    <h3>@item.NomeProduto</h3>
                    <h3>Quantidade: @item.QtdItemPedido</h3>
                    <h3>Valor: @item.ValorItemPedido</h3>
                </div>
            }
        </div>
        <form asp-controller="produto" asp-action="index" method="post" class="mt-5">
            <button type="submit" style="background: #FF0054; padding: 30px; color: white; border-radius: 20px; border: 0px transparent;"><h1>Voltar</h1></button>
        </form>
    </div>
</body>

