@model IN_TEGRA.Models.Pedido

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container">

        <div class="produtos">
            @foreach(var item in Model.PedidoItens)
            {
                <h1>Nome: @item.NomeProduto</h1>
                <h1>Quantidade: @item.QtdItemPedido</h1>
                <h1>Valor: @item.ValorItemPedido</h1>
            }
        </div>
        <h1>COMPRA:</h1>
        <h1>Pagamento do pedido: @Model.IdPedido</h1>
            <div class="Container__FormasPagamento">
                <div class="Pix"></div>
                <div class="Credito"></div>
                <div class="Debito"></div>
                <div class="Boleto"></div>
            </div>
        <h1>Confirmar os Dados:</h1>
        <div class="ConfirmarDados">
            <h1>Id do cliente: @Model.IdCli</h1>
            <h1>Frete do pedido: @Model.FretePedido</h1>
            <h1>Data do pedido: @Model.DataHoraPedido</h1>
            <h1>Confirmação do pedido: @Model.ConfirmacaoPedido</h1>
        </div>

        <h1>Detalhes de Pagamento</h1>
        <div class="detalhes">
            <h1>Valor total: R$@Model.ValorPedido,00</h1>
        </div>


        <form asp-controller="Pagamento" asp-action="FinalizarPagamento" method="post">
            <input type="hidden" name="IdPedido" value="@Model.IdPedido" />
            <button type="submit">Finalizar</button>
        </form>
    </div>
</body>
