@{
    Layout = null;
    ViewData["Title"] = "Painel do Cliente";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
</head>


<body style="margin: 0; display: flex; height: 100vh; font-family:'ABeeZee',sans-serif;">
    <nav style="background: #D9D9D9; width: 20%; padding: 60px; display: flex; flex-direction: column; justify-content: space-between; ">
        <div class="container-fluid">
            <a href="#" style="text-decoration: none; color:inherit;"><h1>Dashboard</h1></a>
            <a href="#" style="text-decoration: none; color:inherit;"><h1>Conta</h1></a>
            <a asp-action="Pedidos" style="text-decoration: none; color:inherit;"><h1>Pedidos</h1></a>
        </div>



        <button class="" style="padding: 30px; background: #0900FF; border-radius: 15px; color: white;"><h1>RETORNAR</h1></button>
    </nav>

    <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <div style="background: #D9D9D9; border-radius: 15px; width: 50%; height: 50%; padding: 50px;">

            <h1>Bem vindo: @ViewBag.nomeCliente!!</h1>

            <div class="Dados" style="width: 100%; height: 80%; padding: 20px; background: #B8B5B5;">
                <h1>Seus Dados:</h1>
                <p>CPF: @ViewBag.cpf</p>
                <p>DATA DE NASCIMENTO: @ViewBag.DataNascimento</p>
                <p>EMAIL: @ViewBag.email</p>
                <p>TELEFONE: @ViewBag.telefone</p>
                <p>SENHA: @ViewBag.Senha</p>
            </div>

              

        </div>
    </div>
</body>