@model IN_TEGRA.Models.Produto

@{
    ViewData["Title"] = "Detalhes Produto";
    var produtos = ViewBag.Produtos;
}

<body style="font-family: 'Alexandria', sans-serif;">
    <div class="container__image" style="width: 100%; max-height: 1200px; display: flex; justify-content: space-around; flex-wrap: wrap; margin-top: 50px;">
        <img src="/@Model.ImagemProduto" style="max-height: 400px;" alt="Imagem não Carregada"/>
        <div class="container__informacoes" style="padding: 30px; min-width: 280px; height: 100%; border-radius: 20px; color: black; display: flex; flex-direction: column;">
            <h2>@Model.NomeProduto</h2>
            <h3>R$@Model.PrecoProduto</h3>
            <h3>Categoria:@Model.CategoriaProduto</h3>
            <h4>Estoque: @Model.QuantidadeProduto Unidades</h4>
            

            <form asp-controller="Carrinho" asp-action="AddCarrinho" method="post">
                <input type="hidden" name="produtoId" value="@Model.IdProd" />
                <input type="number" id="quantidade-@Model.IdProd" name="quantidade" class="form-control mb-3" value="1" min="1" max="@Model.QuantidadeProduto" />
                <button type="submit" class="btn btn-primary" style="width: 100%; border-radius: 10px; background: #FF0054">Comprar</button>
            </form>
        </div>
    </div>
    <div class="container__descricao" style="background: #DADDF5; padding: 15px 10px 90px 25px; border-radius: 20px; color: black; width: 100%; height: 30%; margin-top: 100px; text-align: left">
        <h2><strong>Descrição do Produto</strong></h2>
        <p>@Model.DescricaoProduto</p>
    </div>

    <section style="text-align:center; margin-top: 100px;">
        <h1 style="margin-bottom:50px;">RECOMENDAÇÕES</h1>
        <div class="product__carousel" style="height: 390px;">
            <div class="carousel js-carousel-of-product">
                <button class="carousel__previous js-carousel-button-previous" type="button">&lt;</button>
                <div class="carousel__slides js-carousel-slides">
                    @foreach (var produto in produtos)
                    {
                        <div class="col">
                            <a style="text-decoration: none; color: white;" asp-action="DetalhesProduto" asp-route-IdProd="@produto.IdProd">
                                <div class="produto" style="width: 310px; height: 350px; background: white; border-radius: 20px;">
                                    <img src="~/@produto.ImagemProduto" class="card-img-top" alt="@produto.NomeProduto" style="object-fit: contain; height: 260px; width: 100%; ">
                                    <div class="card-body" style="color: black; border: 0; height: 50px; text-align: left;">
                                        <h5 class="card-text"><strong>R$@produto.PrecoProduto.ToString()</strong></h5>
                                        <h6 class="card-title">@produto.NomeProduto</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <button class="carousel__next js-carousel-button-next" type="button">&gt;</button>
            </div>
        </div>
    </section>

    <style>

        .product__carousel {
            box-sizing: border-box;
            overflow: hidden;
            width: 100%;
            background-color: #5A5F8B;
            border-radius: 20px;
            padding: 20px;
        }

            .product__carousel .carousel {
                border-radius: 12px;
            }

        .carousel {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .carousel__next,
        .carousel__previous {
            position: absolute;
            top: 50%;
            appearance: none;
            overflow: hidden;
            background-color: #FFFFFF;
            width: 50px;
            height: 50px;
            padding: 0;
            border: 0 none transparent;
            transform: translateY(-50%);
            transition: transform 0.2s ease;
            will-change: transform;
            z-index: 1;
            font-family: monospace;
            font-weight: 900;
            font-size: 2rem;
            color: black;
            cursor: pointer;
        }

            .carousel__next:active {
                transform: translateX(10px) translateY(-50%);
            }

            .carousel__previous:active {
                transform: translateX(-10px) translateY(-50%);
            }

        .carousel__next {
            right: 0;
            border-radius: 50% 0 0 50%;
        }

        .carousel__previous {
            left: 0;
            border-radius: 0 50% 50% 0;
        }

        .carousel__slides {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            width: fit-content;
            transition: transform 0.4s ease-in-out;
            will-change: transform;
        }

    </style>
    <script src="@(Url.Content("~/js/carousel.js"))"></script>
</body>