@model IEnumerable<IN_TEGRA.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}
<body>
    <img src="\assets\slideprincipal.png" width="100%" height="100%" style="margin-bottom: 100px;">
    <section style="text-align:center;">
        <h1>PROMOÇÕES</h1>
        <div class="product__carousel">
            <div class="carousel js-carousel-of-product">
                <button class="carousel__previous js-carousel-button-previous" type="button">&lt;</button>
                <div class="carousel__slides js-carousel-slides">
                    @foreach (var produto in Model)
                    {
                        <div class="col">
                            <div class="card" style="width: 300px;">
                                <img src="@produto.ImagemProduto" class="card-img-top" alt="@produto.NomeProduto" style="object-fit: cover; ">
                                <div class="card-body" style="background: #171717; color: white; border: 0;">
                                    <h5 class="card-title">@produto.NomeProduto</h5>
                                    <p class="card-text">@produto.DescricaoProduto</p>
                                    <p class="card-text"><strong>Preço: R$ @produto.PrecoProduto.ToString("F2")</strong></p>
                                    <p class="card-text"><small class="text-muted">Estoque: @produto.QuantidadeProduto</small></p>

                                    <form asp-controller="Carrinho" asp-action="AdicionarCarrinho" method="post">
                                        <input type="hidden" name="produtoId" value="@produto.IdProd" />
                                        <div class="form-group mb-2">
                                            <label for="quantidade-@produto.IdProd">Quantidade:</label>
                                            <input type="number" id="quantidade-@produto.IdProd" name="quantidade" class="form-control" value="1" min="1" max="@produto.QuantidadeProduto" />
                                        </div>
                                  
                                        <td>
                                            @Html.ActionLink("Alterar", "AtualizarProduto", new { Idprod = produto.IdProd }) |
                                            @Html.ActionLink("Detalhes", "DetalhesProduto", new { IdProd = produto.IdProd }) |
                                            @Html.ActionLink("Excluir", "ExcluirProduto", new { IdProd = produto.IdProd }) 
                                        </td>
                                
                                        <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel__next js-carousel-button-next" type="button">&gt;</button>
            </div>
        </div>

    </section>
    <br />
    <section> 
        <div class="container__produtos">
            <aside class="sidebar__produtos">
                @foreach (var produto in Model)
                {
                    <input type="checkbox" class="categoria">@produto.CategoriaProduto
                        
                }
                </a>
            <div class="container__carousel__produtos" style="flex-wrap:wrap; display: flex;">
                    @foreach (var produto in Model)
                    {
                            <div class="card" style="width: 300px;">
                                <img src="@produto.ImagemProduto" class="card-img-top" alt="@produto.NomeProduto" style="object-fit: cover; ">
                                <div class="card-body" style="background: #171717; color: white; border: 0;">
                                    <h5 class="card-title">@produto.NomeProduto</h5>
                                    <p class="card-text">@produto.DescricaoProduto</p>
                                    <p class="card-text"><strong>Preço: R$ @produto.PrecoProduto.ToString("F2")</strong></p>
                                    <p class="card-text"><small class="text-muted">Estoque: @produto.QuantidadeProduto</small></p>

                                    <form asp-controller="Carrinho" asp-action="AdicionarCarrinho" method="post">
                                        <input type="hidden" name="produtoId" value="@produto.IdProd" />
                                        <div class="form-group mb-2">
                                            <label for="quantidade-@produto.IdProd">Quantidade:</label>
                                            <input type="number" id="quantidade-@produto.IdProd" name="quantidade" class="form-control" value="1" min="1" max="@produto.QuantidadeProduto" />
                                        </div>
                                        <!-- DESCOBRIR COMO FAZ PARA QUE SOMENTES ADMINS VEJAM ESSA PARTE
                                        <td>
                                           // @Html.ActionLink("Alterar", "AtualizarProduto", new { Idprod = produto.IdProd }) |
                                           // @Html.ActionLink("Detalhes", "DetalhesProduto", new { IdProd = produto.IdProd }) |
                                           // @Html.ActionLink("Excluir", "ExcluirProduto", new { IdProd = produto.IdProd })
                                        </td>
                                        !-->
                                        <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
                                    </form>
                                </div>
                            </div>  
                    }
            </div>
        </div>

    </section>
    <style>

        .product__carousel {
            box-sizing: border-box;
            overflow: hidden;
            width: 100%;
            border-radius: 15px;
            background-color: #303030;
            padding: 10px;
        }

            .product__carousel .carousel {
                border-radius: 12px;
            }


        .carousel {
            position: relative; /* Por causa dos botões absolutos */
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .carousel__next,
        .carousel__previous {
            position: absolute;
            top: 50%;
            appearance: none;
            overflow: hidden;
            background-color: #303030;
            width: 50px;
            height: 50px;
            padding: 0;
            border: 0 none transparent;
            transform: translateY(-50%);
            transition: transform 0.2s ease;
            will-change: transform;
            z-index: 1;
            font-family: monospace;
            font-weight: 900;
            font-size: 2rem;
            color: #00D448;
            cursor: pointer;
        }

            .carousel__next:active {
                transform: translateX(10px) translateY(-50%);
            }

            .carousel__previous:active {
                transform: translateX(-10px) translateY(-50%);
            }

        .carousel__next {
            right: 0;
            border-radius: 50% 0 0 50%;
        }

        .carousel__previous {
            left: 0;
            border-radius: 0 50% 50% 0;
        }

        .carousel__slides {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            width: fit-content;
            transition: transform 0.4s ease-in-out;
            will-change: transform;
        }

    </style>


    <script src="./js/carousel.js"></script>
</body>
