@model IEnumerable<IN_TEGRA.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}
<body>
    <img src="\assets\slideprincipal.png" width="100%" height="100%" style="margin-bottom: 100px;">
    <section style="text-align:center;">
        <h1>NOVIDADES</h1>
        <div class="product__carousel" style="height: 370px;">
            <div class="carousel js-carousel-of-product">
                <button class="carousel__previous js-carousel-button-previous" type="button">&lt;</button>
                <div class="carousel__slides js-carousel-slides">
                    @foreach (var produto in Model)
                    {
                        <div class="col">
                            <a style="text-decoration: none; color: white;" asp-action="DetalhesProduto" asp-route-IdProd="@produto.IdProd">
                                <div class="produto" style="width: 300px; height: 350px; background: white; border-radius: 20px;">
                                    <img src="@produto.ImagemProduto" class="card-img-top" alt="@produto.NomeProduto" style="object-fit: contain; height: 260px; width: 100%; ">
                                    <div class="card-body" style="color: black; border: 0; height: 50px; text-align: left;">
                                        <h5 class="card-text"><strong>R$ @produto.PrecoProduto.ToString("F2")</strong></h5>
                                        <h6 class="card-title">@produto.NomeProduto</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <button class="carousel__next js-carousel-button-next" type="button">&gt;</button>
            </div>
        </div>
    </section>
    <br />
    <section style="text-align:center; margin-top: 100px;">
        <h1>PRODUTOS</h1>
        <div class="container__produtos" style="display:flex;">
            <aside class="sidebar__produtos" style="display: flex; flex-direction:column; background: #DBDBDB; padding: 30px; gap: 10px; margin-right: 50px; border-radius: 20px;">
                <h2>Categorias:</h2>
                @foreach (var categoria in (List<string>)ViewBag.Categorias)
                {
                    <div class="categoria" style="width: 100%; height: auto; background: white; display: flex; color: black; padding: 10px; gap: 10px; border-radius: 20px; ">
                        <input type="checkbox" class="categoria" value="@categoria">@categoria
                    </div>
                }
            </aside>
            <div class="container__carousel__produtos" style="flex-wrap:wrap; display: flex; background: #DBDBDB; padding: 30px; justify-content: space-between; width: 100%; gap: 20px; border-radius: 20px;">
                @foreach (var produto in Model)
                {
                    <a style="text-decoration: none; color: white; display:flex; justify-content:center; width:300px;  border-radius: 20px;" asp-action="DetalhesProduto" asp-route-IdProd="@produto.IdProd">
                        <div class="card mt-2" style="width: 300px; height: 350px;  border-radius: 20px;" data-categoria="@produto.CategoriaProduto">
                            <img src="@produto.ImagemProduto" class="card-img-top" alt="@produto.NomeProduto" style="object-fit: contain; height: 260px; width: 100%; ">
                            <div class="card-body" style="color: black; border: 0; height: 50px; text-align: left;">
                                <h5 class="card-text"><strong>R$ @produto.PrecoProduto.ToString("F2")</strong></h5>
                                <h6 class="card-title">@produto.NomeProduto</h6>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </section>
    <style>

        .product__carousel {
            box-sizing: border-box;
            overflow: hidden;
            width: 100%;
            border-radius: 15px;
            background-color: #DBDBDB;
            padding: 10px;
        }

        .product__carousel .carousel {
            border-radius: 12px;
        }

        .carousel {
            position: relative; 
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .carousel__next,
        .carousel__previous {
            position: absolute;
            top: 50%;
            appearance: none;
            overflow: hidden;
            background-color: #DBDBDB;
            width: 50px;
            height: 50px;
            padding: 0;
            border: 0 none transparent;
            transform: translateY(-50%);
            transition: transform 0.2s ease;
            will-change: transform;
            z-index: 1;
            font-family: monospace;
            font-weight: 900;
            font-size: 2rem;
            color: black;
            cursor: pointer;
        }

        .carousel__next:active {
            transform: translateX(10px) translateY(-50%);
        }

        .carousel__previous:active {
            transform: translateX(-10px) translateY(-50%);
        }

        .carousel__next {
            right: 0;
            border-radius: 50% 0 0 50%;
        }

        .carousel__previous {
            left: 0;
            border-radius: 0 50% 50% 0;
        }

        .carousel__slides {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            width: fit-content;
            transition: transform 0.4s ease-in-out;
            will-change: transform;
        }

    </style>


    <script src="~/js/categorias.js"></script>
    <script src="./js/carousel.js"></script>
</body>
